@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

.password-modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 191, 166, 0.3);
  position: fixed;
  display: flex;
  top: 0%;
  justify-content: center;
  align-items: center;
}

.password-modalEditContainer {
  width: 30%;
  height: 75%;
  border-radius: 12px;
  background-color: #00bfa6;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  font-family: "Poppins";
}

.password-modalEditContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}
.password-modalEditContainer .title h1 {
  color: #fff;
  font-size: 35px;
}
.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}

.password-modalEditContainer .body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.password-modalEditContainer .body input {
  margin: 5px;
  width: 250px;
  background-color: #fff;
  color: black;
  font-size: 14px;
  border-radius: 20px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #00bfa6;
  margin-top: 15px;
}

.password-modalEditContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-modalEditContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: #20dbc2;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

#cancelBtn {
  background-color: crimson;
}

.password-modalEditContainer .footer button:hover {
  width: 160px;
  height: 50px;
}
.password-modalEditContainer .footer button:hover,
.password-modalEditContainer .footer button:focus,
.titleCloseBtn button:hover,
.titleCloseBtn button:focus {
  outline: none;
}
